
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Fra</th>
            <th>Til</th>
        </tr>
    </thead>
    <tr>
        <td>
            <select name="fraDestinasjon">
                <option value=""></option>
                <option value="Oslo">Oslo</option>
                <option value="Torp">Torp</option>
                <option value="Stockholm">Stockholm</option>
                <option value="København">København</option>
            </select>
        </td>
        <td>
            <select name="fraDestinasjon">
                <option value=""></option>
                <option value="Oslo">Oslo</option>
                <option value="Torp">Torp</option>
                <option value="Stockholm">Stockholm</option>
                <option value="København">København</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <input type="date" name="fraDato" />
        </td>
        <td>
            <input type="date" name="tilDato" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="time" name="fraTid" />
        </td>
        <td>
            <input type="time" name="tilTid" />
        </td>
    </tr>


</table>
<input type="submit" name="sendBestilling" value="Bestill" />
