
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#book").hide();

            // Get airport names and build dropdowns
            $.ajax({
                url: '/Home/getAirportNames',
                type: 'GET',
                dataType: 'json',
                success: function (jsAirports) {
                    PopulateAirportDropDowns(jsAirports);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            // Add event for search button click
            $("#search").click(function () {
                $("#book").show();
                var from = $("#fromAirport").val();
                var to = $("#toAirport").val();
                var date = $("#departure").val();
                $.ajax({
                    url: '/Home/getFlights',
                    type: 'POST',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify({ from: from, to: to, date: date }),
                    dataType: 'json',
                    success: function (jsFlights) {
                        DisplayMatchingFlights(jsFlights);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                var returnDate = $("#return").val();
                if (returnDate != "") {
                    var from = $("#toAirport").val();
                    var to = $("#fromAirport").val();

                    $.ajax({
                        url: '/Home/getFlights',
                        type: 'POST',
                        contentType: "application/json:charset=utf-8",
                        data: JSON.stringify({ from: from, to: to, date: returnDate }),
                        dataType: 'json',
                        success: function (jsFlights) {
                            DisplayMatchingReturnFlights(jsFlights);
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                }
            });

            $("#book").click(function () {
                var flight = $("input[name=idToDestination]:checked").val();
                var amount = $("input[name=amountToDestination" + flight + "]").val();

                $.ajax({
                    url: '/Home/Register',
                    type: 'POST',
                    contentType: "application/json:charset=utf-8",
                    data: JSON.stringify({ flight: flight, amount: amount }),
                    dataType: 'json',
                    success: function (string) {
                        // Do nothing, have to check if return flight is ordered first.
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                var returnDate = $("#return").val();
                if (returnDate != "") {
                    var flight = $("input[name=idFromDestination]:checked").val();
                    var amount = $("input[name=amountFromDestination" + flight + "]").val();

                    $.ajax({
                        url: '/Home/Register',
                        type: 'POST',
                        contentType: "application/json:charset=utf-8",
                        data: JSON.stringify({ flight: flight, amount: amount }),
                        dataType: 'json',
                        success: function (string) {
                            window.location.href = "/Home/Bookings/";
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                } else {
                    window.location.href = "/Home/Bookings/";
                }
            });
        });


        function PopulateAirportDropDowns(jsAirports) {
            var result = "";
            for (var a in jsAirports) {
                result += "<option value='" + jsAirports[a].id + "'>" + jsAirports[a].name + "</option>";
            }
            $("#fromAirport").append(result);
            $("#toAirport").append(result);
        }

        function DisplayMatchingFlights(jsFlights) {
            var result =
                "<table class='table'>" +
                    "<thead>" +
                        "<tr>" +
                            "<th>Fra</th>" +
                            "<th>Til</th>" +
                            "<th>Avreise</th>" +
                            "<th>Ankomst</th>" +
                            "<th>Velg</th>" +
                            "<th>Antall</th>" +
                        "</tr>" +
                    "</thead >";
            for (var f in jsFlights) {
                result +=
                    "<tr>" +
                        "<td>" + jsFlights[f].fromAirport + "</td>" +
                        "<td>" + jsFlights[f].toAirport + "</td>" +
                        "<td>" + jsFlights[f].departure + "</td>" +
                        "<td>" + jsFlights[f].arrival + "</td>" +
                        "<td><input type=\"radio\" name =\"idToDestination\" value=\"" + jsFlights[f].id + "\"></td>" +
                        "<td><input type=\"number\" name=\"amountToDestination" + jsFlights[f].id +"\" max=\"10\" min=\"1\" />" +
                    "</tr>";
            }
            result += "<tr><td></td></tr></table>";
            $("#displayFlights").html(result);
        }

        function DisplayMatchingReturnFlights(jsFlights) {
            var result =
                "<table class='table'>" +
                "<thead>" +
                "<tr>" +
                "<th>Fra</th>" +
                "<th>Til</th>" +
                "<th>Avreise</th>" +
                "<th>Ankomst</th>" +
                "<th>Velg</th>" +
                "<th>Antall</th>" +
                "</tr>" +
                "</thead >";
            for (var f in jsFlights) {
                result +=
                    "<tr>" +
                    "<td>" + jsFlights[f].fromAirport + "</td>" +
                    "<td>" + jsFlights[f].toAirport + "</td>" +
                    "<td>" + jsFlights[f].departure + "</td>" +
                    "<td>" + jsFlights[f].arrival + "</td>" +
                    "<td><input type=\"radio\" name =\"idFromDestination\" value=\"" + jsFlights[f].id + "\"></td>" +
                    "<td><input type=\"number\" name=\"amountFromDestination" + jsFlights[f].id + "\" max=\"10\" min=\"1\" />" +
                    "</tr>";
            }
            result += "<tr><td></td></tr></table>";
            $("#displayReturnFlights").html(result);
        }

    </script>
</head>
<body>
    <h2>Bestill flytur</h2>
    
    <div class="row">
        <!-- husk å kjøre (og oppdatere) /home/register og validateFields()-->
        <div class="col-sm-6">
            <fieldset>
                <legend>Fly fra:</legend>
                Destinasjon:
                <br />
                <select id="fromAirport">
                    <option value=""></option>
                </select>
                &nbsp;<span class="label label-warning" id="fromDestinationWarning" style="display:none">Må fylles ut</span>
                <br />
                Avreise:<br />
                <input type="date" id="departure" />
                &nbsp;<span class="label label-warning" id="fromDateWarning" style="display:none">Må fylles ut</span>
                <br />
            </fieldset>
            <br /><button id="search">Søk</button><br/>
        </div>

        <div class="col-sm-6">
            <fieldset>
                <legend>Fly til:</legend>
                Destinasjon:<br />
                <select id="toAirport">
                    <option value=""></option>
                </select>
                &nbsp;<span class="label label-warning" id="toDestinationWarning" style="display:none">Må fylles ut</span>
                <br />
                Hjemreise:<br />
                <input type="date" id="return" />
                &nbsp;<span class="label label-warning" id="toDateWarning" style="display:none">Må fylles ut</span>
                <br />
            </fieldset>
        </div>
    </div>
    <div id="displayFlights" class="col-sm-6"></div>
    <div id="displayReturnFlights" class="col-sm-6"></div>
    <br /><button id="book">Bestill</button>

    <script>
        function validateFields() {
            var validateFromDestination = document.forms["registrationForm"]["fromDestination"].value;
            var validateFromDate = document.forms["registrationForm"]["fromDate"].value;
            var validateToDestination = document.forms["registrationForm"]["toDestination"].value;
            var validateToDate = document.forms["registrationForm"]["toDate"].value;

            if (validateFromDate > validateToDate) {
                hideWarnings();

                document.getElementById("toDateWarning").innerHTML = "Dato må være etter avreise";
                document.getElementById("toDateWarning").style.display = "inline";
                return false;
            } else {
                document.getElementById("toDateWarning").style.display = "none";
            }

            if (validateFromDestination == validateToDestination && validateFromDestination != "") {
                hideWarnings();

                document.getElementById("toDestinationWarning").innerHTML = "Du kan ikke reise til og fra samme sted";
                document.getElementById("toDestinationWarning").style.display = "inline";
                return false;
            } else {
                document.getElementById("toDestinationWarning").style.display = "none";
            }

            if (validateFromDestination == "") {
                hideWarnings();
                document.getElementById("fromDestinationWarning").innerHTML = "Må fylles ut";
                document.getElementById("fromDestinationWarning").style.display = "inline";
                return false;
            } else {
                document.getElementById("fromDestinationWarning").style.display = "none";
            }

            if (validateFromDate == "") {
                hideWarnings();

                document.getElementById("fromDateWarning").style.display = "inline";
                return false;
            } else {
                document.getElementById("fromDateWarning").style.display = "none";
            }

            if (validateToDestination == "") {
                hideWarnings();
                document.getElementById("toDestinationWarning").innerHTML = "Må fylles ut";
                document.getElementById("toDestinationWarning").style.display = "inline";
                return false;
            } else {
                document.getElementById("toDestinationWarning").style.display = "none";
            }

            if (validateToDate == "") {
                hideWarnings();

                document.getElementById("toDateWarning").style.display = "inline";
                return false;
            } else {
                document.getElementById("toDateWarning").style.display = "none";
            }
        }

        function hideWarnings() {
            document.getElementById("fromDestinationWarning").style.display = "none";
            document.getElementById("fromDateWarning").style.display = "none";
            document.getElementById("toDestinationWarning").style.display = "none";
            document.getElementById("toDateWarning").style.display = "none";
        }
    </script>
</body>
</html>

