
@{
    ViewBag.Title = "Orders";
}


<h2>Orders</h2>

@model List<WebAppsOppgave1.Models.Booking>

    <table class="table">
        <thead>
            <tr>
                <th>KundeID</th>
                <th>Fra</th>
                <th>Til</th>
                <th>Dato</th>
            </tr>
        </thead>
        
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.CustomerId</td>
                <td>@booking.Flight.FromAirport.Name</td>
                <td>@booking.Flight.ToAirport.Name</td>
                <td>@booking.Flight.Departure</td>
            </tr>
        }
    </table>