
@{
    ViewBag.Title = "Orders";
}


<h2>Orders</h2>

@model List<WebAppsOppgave1.Models.Flight>

    <table class="table">
        <thead>
            <tr>
                <th>KundeID</th>
                <th>Fra</th>
                <th>Til</th>
                <th>Dato</th>
            </tr>
        </thead>
        
        @foreach (var flight in Model)
        {
            <tr>
                <td>@flight.FromAirport.Name</td>
                <td>@flight.ToAirport.Name</td>
                <td>@flight.DepartureDate</td>
                <td>@flight.DepartureTime</td>
            </tr>
        }
    </table>