<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d329a942-6ae3-4fed-8de9-96f0b1a8ef84/resourcegroups/webapps/providers/Microsoft.Web/sites/WebAppsOppgave120171008094735</ResourceId>
    <ResourceGroup>webapps</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webappsoppgave120171008094735.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webappsoppgave120171008094735.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAppsOppgave120171008094735</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAppsOppgave120171008094735</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookingDatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=webapps-hioa.database.windows.net;Initial Catalog=Webapps;Persist Security Info=True;User ID=innlevering;Password=!webapps-hioa2017" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAppsOppgave1.BookingDatabaseEntities, WebAppsOppgave1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WebAppsOppgave1.Models.DB" Order="2" Enabled="False">
          <Destination Path="Data Source=webapps-hioa.database.windows.net;Initial Catalog=Webapps;Persist Security Info=True;User ID=innlevering;Password=!webapps-hioa2017" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAppsOppgave1.Models.DB, WebAppsOppgave1" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Booking" Order="3" Enabled="False">
          <Destination Path="Data Source=webapps-hioa.database.windows.net;Initial Catalog=Webapps;Persist Security Info=True;User ID=innlevering;Password=!webapps-hioa2017" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|BookingDatabase.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Booking_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source =          (LocalDB)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|BookingDatabase.mdf;Integrated Security = True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Booking-Web.config Connection String">
      <ParameterValue>Data Source=webapps-hioa.database.windows.net;Initial Catalog=Webapps;Persist Security Info=True;User ID=innlevering;Password=!webapps-hioa2017</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="WebAppsOppgave1.Models.DB-Web.config Connection String">
      <ParameterValue>Data Source=webapps-hioa.database.windows.net;Initial Catalog=webapps;Persist Security Info=True;User ID=innlevering;Password=!webapps-hioa2017</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BookingDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=webapps-hioa.database.windows.net;Initial Catalog=Webapps;Persist Security Info=True;User ID=innlevering;Password=!webapps-hioa2017"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="WebAppsOppgave1.Models.DB" />
  </ItemGroup>
</Project>