@{
    ViewBag.Title = "Index administrator";
}
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">
    $(function () {

        $("#airportButton").click(function () {
            $("#flights").hide();
            $("#bookings").hide();
            $("#users").hide();
            $("#registerAirport").hide();
            $("#deleteAirport").hide();
            $("#editAirport").hide();
            $("#airportConfirmation").html("");
            $("#airports").show();
            GetAllAirports();
        });

        $("#flightButton").click(function () {
            $("#airports").hide();
            $("#bookings").hide();
            $("#users").hide();
            $("#registerFlight").hide();
            $("#deleteFlight").hide();
            $("#editFlight").hide();
            $("#flightConfirmation").html("");
            $("#flights").show();
            PopulateAirportDropDowns();
            GetAllFlights();
        });

        $("#bookingButton").click(function () {
            $("#airports").hide();
            $("#flights").hide();
            $("#users").hide();
            $("#registerBooking").hide();
            $("#deleteBooking").hide();
            $("#editBooking").hide();
            $("#bookingConfirmation").html("");
            $("#bookings").show();
            PopulateUserDropDowns();
            PopulateFlightDropDowns();
            GetAllBookings();
        });

        $("#userButton").click(function () {
            $("#airports").hide();
            $("#flights").hide();
            $("#bookings").hide();
            $("#registerUser").hide();
            $("#deleteUser").hide();
            $("#editUser").hide();
            $("#userConfirmation").html("");
            $("#users").show();
            GetAllUsers();
        });



        $("#filterAirports").click(function () {
            GetAllAirports();
        });

        $("#confirmRegisterAirport").click(function () {
            var name = $("#airportNameReg").val();
            if (name != "") {
                $.ajax({
                    url: '/Admin/registerAirport',
                    type: 'POST',
                    contentType: "application/json:charset=utf-8",
                    data: JSON.stringify({ name: name }),
                    dataType: 'json',
                    success: function (success) {
                        if (success == "ok") {
                            $("#airportConfirmation").html("<p style=\"color:forestgreen\">Registrering gjennomført</p>");
                            $("#registerAirport").hide();
                            GetAllAirports();
                        }
                        else {
                            $("#airportConfirmation").html("<p style=\"color:indianred\">Feil ved registrering</p>");
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }
            else {
                $("#airportConfirmation").html("<p style=\"color:indianred\">Flyplassnavn må fylles ut</p>");
            }
        });

        $("#confirmEditAirport").click(function () {
            var id = $("#airportIdEd").val();
            var name = $("#airportNameEd").val();

            $.ajax({
                url: '/Admin/editAirport',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id: id, name: name }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#airportConfirmation").html("<p style=\"color:forestgreen\">Endring gjennomført</p>");
                        $("#editAirport").hide();
                        GetAllAirports();
                    }
                    else {
                        $("#airportConfirmation").html("<p style=\"color:indianred\">Feil ved endring</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

        $("#confirmDeleteAirport").click(function () {
            var id = $("#airportIdDel").val();

            $.ajax({
                url: '/Admin/deleteAirport',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id: id }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#airportConfirmation").html("<p style=\"color:forestgreen\">Sletting gjennomført</p>");
                        $("#deleteAirport").hide();
                        GetAllAirports();
                    }
                    else {
                        $("#airportConfirmation").html("<p style=\"color:indianred\">Feil ved sletting</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });


        
        $("#filterFlights").click(function () {
            GetAllFlights();
        });

        $("#confirmRegisterFlight").click(function () {
            var fromAirport = $("#fromAirportReg").val();
            var toAirport = $("#toAirportReg").val();
            var departure = $("#departureReg").val().toString("dd.MM.yyyy HH:mm");
            var arrival = $("#arrivalReg").val().toString("dd.MM.yyyy HH:mm");
            var price = $("#priceReg").val();

            $.ajax({
                url: '/Admin/registerFlight',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ fromAirportId: fromAirport, toAirportId: toAirport, departure: departure, arrival: arrival, price: price }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#flightConfirmation").html("<p style=\"color:forestgreen\">Registrering gjennomført</p>");
                        $("#registerFlight").hide();
                        GetAllFlights();
                    }
                    else {
                        $("#flightConfirmation").html("<p style=\"color:indianred\">Feil ved registrering</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

        $("#confirmEditFlight").click(function () {
            var id = $("#flightIdEd").val();
            var fromAirport = $("#fromAirportEd").val();
            var toAirport = $("#toAirportEd").val();
            var departure = $("#departureEd").val().toString("dd.MM.yyyy HH:mm");
            var arrival = $("#arrivalEd").val().toString("dd.MM.yyyy HH:mm");
            var price = $("#priceEd").val();
            
            $.ajax({
                url: '/Admin/editFlight',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id: id, fromAirportId: fromAirport, toAirportId: toAirport, departure: departure, arrival: arrival, price: price }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#flightConfirmation").html("<p style=\"color:forestgreen\">Endring gjennomført</p>");
                        $("#editFlight").hide();
                        GetAllFlights();
                    }
                    else {
                        $("#flightConfirmation").html("<p style=\"color:indianred\">Feil ved endring</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

        $("#confirmDeleteFlight").click(function () {
            var id = $("#flightIdDel").val();

            $.ajax({
                url: '/Admin/deleteFlight',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id: id }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#flightConfirmation").html("<p style=\"color:forestgreen\">Sletting gjennomført</p>");
                        $("#deleteFlight").hide();
                        GetAllFlights();
                    }
                    else {
                        $("#flightConfirmation").html("<p style=\"color:indianred\">Feil ved sletting</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });


        $("#filterBookings").click(function () {
            GetAllBookings();
        });

        $("#confirmRegisterBooking").click(function () {

            var userId = $("#userReg").val();
            var flightId = $("#flightReg").val();
            var amount = $("#amountReg").val();

            $.ajax({
                url: '/Admin/registerBooking',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ userId:userId, flightId:flightId, amount:amount }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#bookingConfirmation").html("<p style=\"color:forestgreen\">Registrering gjennomført</p>");
                        $("#registerBooking").hide();
                        GetAllBookings();
                    }
                    else {
                        $("#bookingConfirmation").html("<p style=\"color:indianred\">Feil ved registrering</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

        $("#confirmEditBooking").click(function () {
            var id = $("#bookingIdEd").val();
            var userId = $("#userEd").val();
            var flightId = $("#flightEd").val();
            var amount = $("#amountEd").val();
            
            $.ajax({
                url: '/Admin/editBooking',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id:id, userId:userId, flightId:flightId, amount:amount }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#bookingConfirmation").html("<p style=\"color:forestgreen\">Endring gjennomført</p>");
                        $("#editBooking").hide();
                        GetAllBookings();
                    }
                    else {
                        $("#bookingConfirmation").html("<p style=\"color:indianred\">Feil ved endring</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

        $("#confirmDeleteBooking").click(function () {
            var id = $("#bookingIdDel").val();

            $.ajax({
                url: '/Admin/deleteBooking',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id:id }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#bookingConfirmation").html("<p style=\"color:forestgreen\">Sletting gjennomført</p>");
                        $("#deleteBooking").hide();
                        GetAllBookings();
                    }
                    else {
                        $("#bookingConfirmation").html("<p style=\"color:indianred\">Feil ved sletting</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });



        $("#filterUsers").click(function () {
            GetAllUsers();
        });

        $("#confirmRegisterUser").click(function () {
            var fornavn = $("#fornavnReg").val();
            var etternavn = $("#etternavnReg").val();
            var adresse = $("#adresseReg").val();
            var postnummer = $("#postnummerReg").val();
            var poststed = $("#poststedReg").val();
            var epost = $("#epostReg").val();
            var passord = $("#passordReg").val();

            $.ajax({
                url: '/Admin/registerUser',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ fornavn: fornavn, etternavn: etternavn, adresse: adresse, postnummer: postnummer, poststed: poststed, epost: epost, passord: passord }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#userConfirmation").html("<p style=\"color:forestgreen\">Registrering gjennomført</p>");
                        $("#registerUser").hide();
                        GetAllUsers();
                    }
                    else {
                        $("#userConfirmation").html("<p style=\"color:indianred\">Feil ved registrering</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

        $("#confirmEditUser").click(function () {
            var id = $("#userIdEd").val();
            var fornavn = $("#fornavnEd").val();
            var etternavn = $("#etternavnEd").val();
            var adresse = $("#adresseEd").val();
            var postnummer = $("#postnummerEd").val();
            var poststed = $("#poststedEd").val();
            var epost = $("#epostEd").val();
            var passord = $("#passordEd").val();

            $.ajax({
                url: '/Admin/editUser',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id:id, fornavn: fornavn, etternavn: etternavn, adresse: adresse, postnummer: postnummer, poststed: poststed, epost: epost, passord: passord }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#userConfirmation").html("<p style=\"color:forestgreen\">Endring gjennomført</p>");
                        $("#editUser").hide();
                        GetAllUsers();
                    }
                    else {
                        $("#userConfirmation").html("<p style=\"color:indianred\">Feil ved endring</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

        $("#confirmDeleteUser").click(function () {
            var id = $("#userIdDel").val();

            $.ajax({
                url: '/Admin/deleteUser',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id: id }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#userConfirmation").html("<p style=\"color:forestgreen\">Sletting gjennomført</p>");
                        $("#deleteUser").hide();
                        GetAllUsers();
                    }
                    else {
                        $("#userConfirmation").html("<p style=\"color:indianred\">Feil ved sletting</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });
    });



    function GetAllAirports() {
        var name = $("#airportNameFilter").val();

        $.ajax({
            url: '/Admin/getAllAirports',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ name: name }),
            dataType: 'json',
            success: function (jsAirports) {
                DisplayAllAirports(jsAirports);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function DisplayAllAirports(jsAirports) {

        var result =
            "<br/>" +
            "<table class=\"table table-striped\">" +
            "<thead>" +
            "<tr>" +
            "<th class=\"col-sm-10\">Navn</th>" +
            "<th class=\"col-sm-2\"><a onclick=\"ShowRegisterAirport()\" class=\"btn btn-primary\">Registrer ny</a></th>" +
            "</tr>" +
            "</thead>";
        for (var a in jsAirports) {
            result +=
                "<tr>" +
                "<td>" + jsAirports[a].name + "</td>" +
                "<td>" +
                    "<a onclick=\"ShowEditAirport(" + jsAirports[a].id + ")\" class=\"btn btn-sm btn-primary\">Endre</a> " +
                    "<a onclick=\"ShowDeleteAirport(" + jsAirports[a].id + ")\" class=\"btn btn-sm btn-primary\">Slett</a>" +
                "</td > " +
                "</tr>";
        }
        result += "</table>";
        $("#airportList").html(result);
    }

    function ShowRegisterAirport() {
        $("#editAirport").hide();
        $("#deleteAirport").hide();
        $("#airportConfirmation").html("");
        $("#registerAirport").show();
    }

    function ShowEditAirport(id) {
        $("#registerAirport").hide();
        $("#deleteAirport").hide();
        $("#airportConfirmation").html("");
        $("#editAirport").show();

        $.ajax({
            url: '/Admin/getAirport',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            success: function (jsAirport) {
                if (jsAirport != null) {
                    $("#airportIdEd").val(jsAirport.id);
                    $("#airportNameEd").val(jsAirport.name);
                }
                else {
                    $("#registerAirportConfirmation").html("<p style=\"color:indianred\">Fant ikke flyplass i database</p>");
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function ShowDeleteAirport(id) {
        $("#registerAirport").hide();
        $("#editAirport").hide();
        $("#airportConfirmation").html("");
        $("#deleteAirport").show();

        $.ajax({
            url: '/Admin/getAirport',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            success: function (jsAirport) {
                if (jsAirport != null) {
                    $("#airportIdDel").val(jsAirport.id);
                    $("#airportNameDel").val(jsAirport.name);
                }
                else {
                    $("#airportConfirmation").html("<p style=\"color:indianred\">Fant ikke flyplass i database</p>");
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
    

    function PopulateAirportDropDowns() {
        $.ajax({
            url: '/Admin/getAllAirports',
            type: 'GET',
            dataType: 'json',
            success: function (jsAirports) {
                var result = "<option selected hidden value=\"\">Velg flyplass</option>";
                var filterResult = "<option selected value=\"\"></option>";
                var loop = "";
                for (var a in jsAirports) {
                    loop += "<option value=\"" + jsAirports[a].id + "\">" + jsAirports[a].name + "</option>";
                }
                result += loop;
                filterResult += loop;
                $("#fromAirportFilter").html(filterResult);
                $("#toAirportFilter").html(filterResult);
                $("#fromAirportReg").html(result);
                $("#toAirportReg").html(result);
                $("#fromAirportEd").html(result);
                $("#toAirportEd").html(result);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function GetAllFlights() {
        var from = $("#fromAirportFilter").val();
        var to = $("#toAirportFilter").val();
        var departure = $("#departureFilter").val();

        $.ajax({
            url: '/Admin/getAllFlights',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ from:from, to:to, departure:departure }),
            dataType: 'json',
            success: function (jsFlights) {
                DisplayAllFlights(jsFlights);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function DisplayAllFlights(jsFlights) {

        var result =
            "<br/>" +
            "<table class=\"table table-striped\">" +
            "<thead>" +
            "<tr>" +
            "<th>Fra</th>" +
            "<th>Til</th>" +
            "<th>Avgang</th>" +
            "<th>Ankomst</th>" +
            "<th>Pris</th>" +
            "<th><a onclick=\"ShowRegisterFlight()\" class=\"btn btn-primary\">Registrer ny</a></th>" +
            "</tr>" +
            "</thead>";
        for (var f in jsFlights) {
            result +=
                "<tr>" +
                "<td>" + jsFlights[f].fromAirportName + "</td>" +
                "<td>" + jsFlights[f].toAirportName + "</td>" +
                "<td>" + jsFlights[f].departure + "</td>" +
                "<td>" + jsFlights[f].arrival + "</td>" +
                "<td>" + jsFlights[f].price + " kr</td>" +
                "<td>" +
                    "<a onclick=\"ShowEditFlight(" + jsFlights[f].id + ")\" class=\"btn btn-sm btn-primary\">Endre</a> " +
                    "<a onclick=\"ShowDeleteFlight(" + jsFlights[f].id + ")\" class=\"btn btn-sm btn-primary\">Slett</a>" +
                "</td > " +
                "</tr>";
        }
        result += "</table>";
        $("#flightList").html(result);
    }

    function ShowRegisterFlight() {
        $("#editFlight").hide();
        $("#deleteFlight").hide();
        $("#flightConfirmation").html("");
        $("#registerFlight").show();
    }

    function ShowEditFlight(id) {
        $("#registerFlight").hide();
        $("#deleteFlight").hide();
        $("#flightConfirmation").html("");
        $("#editFlight").show();

        $.ajax({
            url: '/Admin/getFlight',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            success: function (jsFlight) {
                if (jsFlight != null) {
                    $("#flightIdEd").val(jsFlight.id);
                    $("#fromAirportEd").val(jsFlight.fromAirportId);
                    $("#toAirportEd").val(jsFlight.toAirportId);
                    $("#departureEd").val(jsFlight.departure);
                    $("#arrivalEd").val(jsFlight.arrival);
                    $("#priceEd").val(jsFlight.price);
                }
                else {
                    $("#editFlightConfirmation").html("<p style=\"color:indianred\">Fant ikke flyvning i database</p>");
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function ShowDeleteFlight(id) {
        $("#registerFlight").hide();
        $("#editFlight").hide();
        $("#flightConfirmation").html("");
        $("#deleteFlight").show();

        $.ajax({
            url: '/Admin/getFlight',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            success: function (jsFlight) {
                if (jsFlight != null) {
                    $("#flightIdDel").val(jsFlight.id);
                    $("#fromAirportDel").val(jsFlight.fromAirportName);
                    $("#toAirportDel").val(jsFlight.toAirportName);
                    $("#departureDel").val(jsFlight.departure);
                    $("#arrivalDel").val(jsFlight.arrival);
                    $("#priceDel").val(jsFlight.price);
                }
                else {
                    $("#deleteFlightConfirmation").html("<p style=\"color:indianred\">Fant ikke flyvning i database</p>");
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }



  /*  function ValidateFlightReg(jsFlight) {
        var validationOK = true;
        if (jsFlight.fromAirport == null) {
            nullVal = false;
        }
        if (jsFlight.toAirport == null) {
            nullVal = false;
        }
        if (jsFlight.departure == null) {
            nullVal = false;
        }
        if (jsFlight.arrival == null) {
            nullVal = false;
        }
        if (jsFlight.price == null) {
            nullVal = false;
        }
        return validationOK;
    }
*/

    function PopulateUserDropDowns() {
        $.ajax({
            url: '/Admin/getAllUsers',
            type: 'GET',
            dataType: 'json',
            success: function (jsUsers) {
                var result = "<option selected hidden value=\"\">Velg kunde</option>";
                var filterResult = "<option selected value=\"\"></option>";
                var loop = "";
                for (var u in jsUsers) {
                    loop += "<option value=\"" + jsUsers[u].Id + "\">" +
                        jsUsers[u].Fornavn + " " + jsUsers[u].Etternavn + " (" + jsUsers[u].Id + ") </option>";
                }
                result += loop;
                filterResult += loop;
                $("#userFilter").html(filterResult);
                $("#userReg").html(result);
                $("#userEd").html(result);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function PopulateFlightDropDowns() {
        $.ajax({
            url: '/Admin/getAllFlights',
            type: 'GET',
            dataType: 'json',
            success: function (jsFlights) {
                var result = "<option selected hidden value=\"\">Velg flyvning</option>";
                var filterResult = "<option selected value=\"\"></option>";
                loop = "";
                for (var f in jsFlights) {
                    loop += "<option value=\"" + jsFlights[f].id + "\">" +
                        jsFlights[f].fromAirportName + " - " + jsFlights[f].toAirportName + ": " +
                        jsFlights[f].departure + "</option>";
                }
                result += loop;
                filterResult += loop;
                $("#flightFilter").html(filterResult);
                $("#flightReg").html(result);
                $("#flightEd").html(result);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function GetAllBookings() {
        var user = $("#userFilter").val();
        var flight = $("#flightFilter").val();

        $.ajax({
            url: '/Admin/getAllBookings',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ user:user, flight:flight }),
            dataType: 'json',
            success: function (jsBookings) {
                DisplayAllBookings(jsBookings);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function DisplayAllBookings(jsBookings) {

        var result =
            "<table class=\"table table-striped\">" +
            "<thead>" +
            "<tr>" +
            "<th>Kunde</th>" +
            "<th>KID</td>" +
            "<th>Fra</th>" +
            "<th>Til</th>" +
            "<th>Avgang</th>" +
            "<th>Antall reisende</th>" +
            "<th><a onclick=\"ShowRegisterBooking()\" class=\"btn btn-primary\">Registrer ny</a></th>" +
            "</tr>" +
            "</thead>";
        for (var b in jsBookings) {
            result +=
                "<tr>" +
                "<td>" + jsBookings[b].UserFirstname + " " + jsBookings[b].UserLastname + "</td>" +
                "<td>" + jsBookings[b].UserId + "</td>" +
                "<td>" + jsBookings[b].FlightFrom + "</td>" +
                "<td>" + jsBookings[b].FlightTo + "</td>" +
                "<td>" + jsBookings[b].FlightDeparture + "</td>" +
                "<td>" + jsBookings[b].Amount + "</td>" +
                "<td>" +
                    "<a onclick=\"ShowEditBooking(" + jsBookings[b].Id + ")\" class=\"btn btn-sm btn-primary\">Endre</a> " +
                    "<a onclick=\"ShowDeleteBooking(" + jsBookings[b].Id + ")\" class=\"btn btn-sm btn-primary\">Slett</a>" +
                "</td > " +
                "</tr>";
        }
        result += "</table>";
        $("#bookingList").html(result);
    }

    function ShowRegisterBooking() {
        $("#editBooking").hide();
        $("#deleteBooking").hide();
        $("#bookingConfirmation").html("");
        $("#registerBooking").show();
    }

    function ShowEditBooking(id) {
        $("#registerBooking").hide();
        $("#deleteBooking").hide();
        $("#bookingConfirmation").html("");
        $("#editBooking").show();

        $.ajax({
            url: '/Admin/getBooking',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ id:id }),
            dataType: 'json',
            success: function (jsBooking) {
                if (jsBooking != null) {
                    $("#bookingIdEd").val(jsBooking.Id);
                    $("#userEd").val(jsBooking.UserId);
                    $("#flightEd").val(jsBooking.FlightId);
                    $("#amountEd").val(jsBooking.Amount);
                }
                else {
                    $("#bookingConfirmation").html("<p style=\"color:indianred\">Fant ikke bestilling i database</p>");
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function ShowDeleteBooking(id) {
        $("#registerBooking").hide();
        $("#editBooking").hide();
        $("#bookingConfirmation").html("");
        $("#deleteBooking").show();

        $.ajax({
            url: '/Admin/getBooking',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            success: function (jsBooking) {
                if (jsBooking != null) {
                    $("#bookingIdDel").val(jsBooking.Id);
                    $("#userDel").val(jsBooking.UserFirstname + " " + jsBooking.UserLastname);
                    $("#flightDel").val(jsBooking.FlightFrom + " - " + jsBooking.FlightTo + ": " + jsBooking.FlightDeparture);
                    $("#amountDel").val(jsBooking.Amount);
                }
                else {
                    $("#bookingConfirmation").html("<p style=\"color:indianred\">Fant ikke bestilling i database</p>");
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }


    function GetAllUsers() {
        var etternavn = $("#etternavnFilter").val();
        var postnr = $("#postnrFilter").val();

        $.ajax({
            url: '/Admin/getAllUsers',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ etternavn:etternavn, postnr:postnr }),
            dataType: 'json',
            success: function (jsUsers) {
                DisplayAllUsers(jsUsers);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function DisplayAllUsers(jsUsers) {

        var result =
            "<table class=\"table table-striped\">" +
            "<thead>" +
            "<tr>" +
            "<th>Fornavn</th>" +
            "<th>Etternavn</th>" +
            "<th>Adresse</th>" +
            "<th>Postnummer</th>" +
            "<th>Poststed</th>" +
            "<th>Epost</th>" +
            "<th>KID</th>" +
            "<th><a onclick=\"ShowRegisterUser()\" class=\"btn btn-primary\">Registrer ny</a></th>" +
            "</tr>" +
            "</thead>";
        for (var u in jsUsers) {
            result +=
                "<tr>" +
                "<td>" + jsUsers[u].Fornavn + "</td>" +
                "<td>" + jsUsers[u].Etternavn + "</td>" +
                "<td>" + jsUsers[u].Adresse + "</td>" +
                "<td>" + jsUsers[u].Postnummer + "</td>" +
                "<td>" + jsUsers[u].Poststed + "</td>" +
                "<td>" + jsUsers[u].Epost + "</td>" +
                "<td>" + jsUsers[u].Id + "</td>" +
                "<td>" +
                    "<a onclick=\"ShowEditUser(" + jsUsers[u].Id + ")\" class=\"btn btn-sm btn-primary\">Endre</a> " +
                    "<a onclick=\"ShowDeleteUser(" + jsUsers[u].Id + ")\" class=\"btn btn-sm btn-primary\">Slett</a>" +
                "</td > " +
                "</tr>";
        }
        result += "</table>";
        $("#userList").html(result);
    }

    function ShowRegisterUser() {
        $("#editUser").hide();
        $("#deleteUser").hide();
        $("#userConfirmation").html("");
        $("#registerUser").show();
    }

    function ShowEditUser(id) {
        $("#registerUser").hide();
        $("#deleteUser").hide();
        $("#userConfirmation").html("");
        $("#editUser").show();

        $.ajax({
            url: '/Admin/getUser',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ id:id }),
            dataType: 'json',
            success: function (jsUser) {
                if (jsUser != null) {
                    $("#userIdEd").val(jsUser.Id);
                    $("#fornavnEd").val(jsUser.Fornavn);
                    $("#etternavnEd").val(jsUser.Etternavn);
                    $("#adresseEd").val(jsUser.Adresse);
                    $("#postnummerEd").val(jsUser.Postnummer);
                    $("#poststedEd").val(jsUser.Poststed);
                    $("#epostEd").val(jsUser.Epost);
                }
                else {
                    $("#userConfirmation").html("<p style=\"color:indianred\">Fant ikke kunde i database</p>");
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function ShowDeleteUser(id) {
        $("#registerUser").hide();
        $("#editUser").hide();
        $("#userConfirmation").html("");
        $("#deleteUser").show();

        $.ajax({
            url: '/Admin/getUser',
            type: 'POST',
            contentType: "application/json:charset=utf-8",
            data: JSON.stringify({ id:id }),
            dataType: 'json',
            success: function (jsUser) {
                if (jsUser != null) {
                    $("#userIdDel").val(jsUser.Id);
                    $("#fornavnDel").val(jsUser.Fornavn);
                    $("#etternavnDel").val(jsUser.Etternavn);
                    $("#adresseDel").val(jsUser.Adresse);
                    $("#postnummerDel").val(jsUser.Postnummer);
                    $("#poststedDel").val(jsUser.Poststed);
                    $("#epostDel").val(jsUser.Epost);
                }
                else {
                    $("#userConfirmation").html("<p style=\"color:indianred\">Fant ikke bruker i database</p>");
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

</script>

<div class="container">
    <div class="page-header">
        <h1>Administrasjon av database</h1>
    </div>
    <div class="jumbotron">
        <div class="row">
                <button id="airportButton" class="btn btn-lg btn-info">Airports</button>
                <button id="flightButton" class="btn btn-lg btn-info">Flights</button>
                <button id="bookingButton" class="btn btn-lg btn-info">Bookings</button>
                <button id="userButton" class="btn btn-lg btn-info">Users</button>
        </div>
        <div id="airports" style="display:none"><br/>
            <div id="registerAirport">
                <h2>Registrer ny flyplass</h2><br/>
                <div class="input-group">
                    <span class="input-group-addon">Flyplassnavn</span>
                    <input id="airportNameReg" type="text" class="form-control" />
                </div>
                <button id="confirmRegisterAirport" class="btn btn-success">Registrer flyplass</button>
            </div>
            <div id="editAirport">
                <h2>Endre følgende flyplass:</h2>
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input id="airportIdEd" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Navn</span>
                    <input id="airportNameEd" type="text" class="form-control" />
                </div>
                <button id="confirmEditAirport" class="btn btn-success">Bekreft endring</button>
            </div>
            <div id="deleteAirport">
                <h2>Slett følgende flyplass:</h2>
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input id="airportIdDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Navn</span>
                    <input id="airportNameDel" type="text" class="form-control" readonly />
                </div>
                <button id="confirmDeleteAirport" class="btn btn-danger">Bekreft sletting</button>
            </div>
            <div id="airportConfirmation"></div><br/>
            <h2>Registrerte flyplasser</h2><br/>
            <div class="form-inline">
                <div class="input-group">
                    <span class="input-group-addon">Flyplassnavn</span>
                    <input id="airportNameFilter" type="text" class="form-control" />
                </div>
                <button id="filterAirports" class="btn btn-sm btn-info">Avgrens søk</button>
            </div>
        <br/>
            <div id="airportList"></div>
        </div>

        <div id="flights" style="display:none"><br/>
            <div id="registerFlight">
                <h2>Registrer ny flyvning</h2>
                <div class="input-group">
                    <span class="input-group-addon">Fra flyplass</span>
                    <select id="fromAirportReg"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Til flyplass</span>
                    <select id="toAirportReg"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Avreise</span>
                    <input id="departureReg" type="datetime" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Ankomst</span>
                    <input id="arrivalReg" type="datetime" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Pris</span>
                    <input id="priceReg" type="number" class="form-control" />
                </div>
                <button id="confirmRegisterFlight" class="btn btn-success">Registrer flyvning</button>
            </div>
            <div id="editFlight">
                <h2>Endre følgende flyvning:</h2>
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input id="flightIdEd" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Fra flyplass</span>
                    <select id="fromAirportEd"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Til flyplass</span>
                    <select id="toAirportEd"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Avreise</span>
                    <input id="departureEd" type="datetime" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Ankomst</span>
                    <input id="arrivalEd" type="datetime" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Pris</span>
                    <input id="priceEd" type="number" class="form-control" />
                </div>
                <button id="confirmEditFlight" class="btn btn-success">Bekreft endring</button>
            </div>
            <div id="deleteFlight">
                <h2>Slett følgende flyvning:</h2>
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input id="flightIdDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Fra flyplass</span>
                    <input id="fromAirportDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Til flyplass</span>
                    <input id="toAirportDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Avreise</span>
                    <input id="departureDel" type="datetime" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Ankomst</span>
                    <input id="arrivalDel" type="datetime" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Pris</span>
                    <input id="priceDel" type="number" class="form-control" readonly />
                </div>
                <button id="confirmDeleteFlight" class="btn btn-danger">Bekreft sletting</button>
            </div>
            <div id="flightConfirmation"></div><br/>
            <h2>Registrerte flyvninger</h2><br/>
            <div class="form-inline">
                <div class="input-group">
                    <span class="input-group-addon">Fra flyplass</span>
                    <select id="fromAirportFilter"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Til flyplass</span>
                    <select id="toAirportFilter"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Avreisedato</span>
                    <input id="departureFilter" type="datetime" class="form-control" />
                </div>
                <button id="filterFlights" class="btn btn-sm btn-info">Avgrens søk</button>
            </div>
            <br/>
            <div id="flightList"></div>
        </div>

        <div id="bookings" style="display:none"><br/>
            <div id="registerBooking">
                <h2>Registrer ny bestilling</h2>
                <div class="input-group">
                    <span class="input-group-addon">Kunde</span>
                    <select id="userReg"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Flyvning</span>
                    <select id="flightReg"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Antall reisende</span>
                    <input id="amountReg" type="number" class="form-control" />
                </div>
                <button id="confirmRegisterBooking" class="btn btn-success">Registrer bestilling</button>
            </div>
            <div id="editBooking">
                <h2>Endre følgende bestilling:</h2>
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input id="bookingIdEd" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Kunde</span>
                    <select id="userEd"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Flyvning</span>
                    <select id="flightEd"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Antall reisende</span>
                    <input id="amountEd" type="number" class="form-control" />
                </div>
                <button id="confirmEditBooking" class="btn btn-success">Bekreft endring</button>
            </div>
            <div id="deleteBooking">
                <h2>Slett følgende bestilling:</h2>
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input id="bookingIdDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Kunde</span>
                    <input id="userDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Flyvning</span>
                    <input id="flightDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Antall reisende</span>
                    <input id="amountDel" type="number" class="form-control" readonly />
                </div>
                <button id="confirmDeleteBooking" class="btn btn-danger">Bekreft sletting</button>
            </div>
            <div id="bookingConfirmation"></div><br/>
            <h2>Registrerte bestillinger</h2><br/>
            <div class="form-inline">
                <div class="input-group">
                    <span class="input-group-addon">Kunde</span>
                    <select id="userFilter"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Flyvning</span>
                    <select id="flightFilter"></select>
                </div>
                <button id="filterBookings" class="btn btn-sm btn-info">Avgrens søk</button>
            </div>
            <br/>
            <div id="bookingList"></div>
        </div>

        <div id="users" style="display:none"><br/>
            <div id="registerUser">
                <h2>Registrer ny kunde</h2>
                <div class="input-group">
                    <span class="input-group-addon">Fornavn</span>
                    <input id="fornavnReg" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Etternavn</span>
                    <input id="etternavnReg" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Adressee</span>
                    <input id="adresseReg" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Postnummer</span>
                    <input id="postnummerReg" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Poststed</span>
                    <input id="poststedReg" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Epost</span>
                    <input id="epostReg" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Passord</span>
                    <input id="passordReg" type="password" class="form-control" />
                </div>
                <button id="confirmRegisterUser" class="btn btn-success">Registrer kunde</button>
            </div>
            <div id="editUser">
                <h2>Endre følgende kunde:</h2>
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input id="userIdEd" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Fornavn</span>
                    <input id="fornavnEd" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Etternavn</span>
                    <input id="etternavnEd" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Adressee</span>
                    <input id="adresseEd" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Postnummer</span>
                    <input id="postnummerEd" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Poststed</span>
                    <input id="poststedEd" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Epost</span>
                    <input id="epostEd" type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Passord</span>
                    <input id="passordEd" type="password" class="form-control" />
                </div>
                <button id="confirmEditUser" class="btn btn-success">Bekreft endring</button>
            </div>
            <div id="deleteUser">
                <h2>Slett følgende kunde:</h2>
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input id="userIdDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Fornavn</span>
                    <input id="fornavnDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Etternavn</span>
                    <input id="etternavnDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Adressee</span>
                    <input id="adresseDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Postnummer</span>
                    <input id="postnummerDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Poststed</span>
                    <input id="poststedDel" type="text" class="form-control" readonly />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Epost</span>
                    <input id="epostDel" type="text" class="form-control" readonly />
                </div>
                <button id="confirmDeleteUser" class="btn btn-danger">Bekreft sletting</button>
            </div>
            <div id="userConfirmation"></div><br/>
            <h2>Registrerte kunder</h2><br/>
            <div class="form-inline">
                <div class="input-group">
                    <span class="input-group-addon">Etternavn</span>
                    <input id="etternavnFilter" type="text" class="form-control"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Postnummer</span>
                    <input id="postnrFilter" type="text" class="form-control" />
                </div>
                <button id="filterUsers" class="btn btn-sm btn-info">Avgrens søk</button>
            </div>
            <br/>
            <div id="userList"></div>
        </div>
    </div>
</div>