@{
    ViewBag.Title = "Index administrator";
}
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">
    $(function () {

        $("#airportButton").click(function () {
            $("#flights").hide();
            $("#bookings").hide();
            $("#users").hide();
            $("#deleteAirport").hide();
            $("#editAirport").hide();
            $("#airports").show();
            GetAllAirports();
        });

        $("#flightButton").click(function () {
            $("#airports").hide();
            $("#bookings").hide();
            $("#users").hide();
            $("#deleteFlight").hide();
            $("#editFlight").hide();
            $("#flights").show();
            PopulateAirportDropDowns();
            GetAllFlights();
        });

        $("#bookingButton").click(function () {
            $("#airports").hide();
            $("#flights").hide();
            $("#users").hide();
            $("#deleteBookings").hide();
            $("#editBookings").hide();
            $("#bookings").show();
            //GetAllBookings();
        });

        $("#userButton").click(function () {
            $("#airports").hide();
            $("#flights").hide();
            $("#bookings").hide();
            $("#deleteUser").hide();
            $("#editUser").hide();
            $("#users").show();
            GetAllUsers();
        });


        $("#registerAirport").click(function () {
            var name = $("#airportNameReg").val();
            if (name != "") {
                $.ajax({
                    url: '/Admin/registerAirport',
                    type: 'POST',
                    contentType: "application/json:charset=utf-8",
                    data: JSON.stringify({ name: name }),
                    dataType: 'json',
                    success: function (success) {
                        if (success == "ok") {
                            $("#registerAirportConfirmation").html("<p style=\"color:forestgreen\">Registrering gjennomført</p>");
                            GetAllAirports();
                        }
                        else {
                            $("#registerAirportConfirmation").html("<p style=\"color:indianred\">Feil ved registrering</p>");
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }
            else {
                $("#registerAirportConfirmation").html("<p style=\"color:indianred\">Flyplassnavn må fylles ut</p>");
            }
        });

        $("#showEditAirport").click(function () {
            $("#deleteAirport").hide();
            $("#editAirportConfirmation").html("");
            $("#editAirport").show();

            if ($("input[name=idAirport]").is(":checked")) {
                var id = $("input[name=idAirport]:checked").val();

                $.ajax({
                    url: '/Admin/getAirport',
                    type: 'POST',
                    contentType: "application/json:charset=utf-8",
                    data: JSON.stringify({ id: id }),
                    dataType: 'json',
                    success: function (jsAirport) {
                        if (jsAirport != null) {
                            $("#airportIdEd").val(jsAirport.id);
                            $("#airportNameEd").val(jsAirport.name);
                        }
                        else {
                            $("#registerAirportConfirmation").html("<p style=\"color:indianred\">Fant ikke flyplass i database</p>");
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

            }
            else {
                $("#editAirportConfirmation").html("<p style=\"color:indianred\">Velg hvilken flyplass som skal endres</p>");
            }
        });

        $("#showDeleteAirport").click(function () {
            $("#editAirport").hide();
            $("#deleteAirportConfirmation").html("");
            $("#deleteAirport").show();

            if ($("input[name=idAirport]").is(":checked")) {
                var id = $("input[name=idAirport]:checked").val();

                $.ajax({
                    url: '/Admin/getAirport',
                    type: 'POST',
                    contentType: "application/json:charset=utf-8",
                    data: JSON.stringify({ id: id }),
                    dataType: 'json',
                    success: function (jsAirport) {
                        if (jsAirport != null) {
                            $("#airportIdDel").val(jsAirport.id);
                            $("#airportNameDel").val(jsAirport.name);
                        }
                        else {
                            $("#registerAirportConfirmation").html("<p style=\"color:indianred\">Fant ikke flyplass i database</p>");
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

            }
            else {
                $("#deleteAirportConfirmation").html("<p style=\"color:indianred\">Velg hvilken flyplass som skal slettes</p>");
            }
        });

        $("#confirmEditAirport").click(function () {
            var id = $("#airportIdEd").val();
            var name = $("#airportNameEd").val();

            $.ajax({
                url: '/Admin/editAirport',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id: id, name: name }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#editAirportConfirmation").html("<p style=\"color:forestgreen\">Endring gjennomført</p>");
                        GetAllAirports();
                    }
                    else {
                        $("#editAirportConfirmation").html("<p style=\"color:indianred\">Feil ved endring</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

        $("#confirmDeleteAirport").click(function () {
            var id = $("#airportIdDel").val();

            $.ajax({
                url: '/Admin/deleteAirport',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id: id }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#deleteAirportConfirmation").html("<p style=\"color:forestgreen\">Sletting gjennomført</p>");
                        GetAllAirports();
                    }
                    else {
                        $("#deleteAirportConfirmation").html("<p style=\"color:indianred\">Feil ved sletting</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });


        

        $("#registerFlight").click(function () {
            
            var fromAirport = $("#fromAirportReg").val();
            var toAirport = $("#toAirportReg").val();
            var departure = $("#departureReg").val().toString("dd.MM.yyyy HH:mm");
            var arrival = $("#arrivalReg").val().toString("dd.MM.yyyy HH:mm");
            var price = $("#priceReg").val();

            $.ajax({
                url: '/Admin/registerFlight',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ fromAirportId: fromAirport, toAirportId: toAirport, departure: departure, arrival: arrival, price: price }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#registerFlightConfirmation").html("<p style=\"color:forestgreen\">Registrering gjennomført</p>");
                        GetAllFlights();
                    }
                    else {
                        $("#registerFlightConfirmation").html("<p style=\"color:indianred\">Feil ved registrering</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z + " :)");
                }
            });
        });

        $("#showEditFlight").click(function () {
            $("#deleteFlight").hide();
            $("#editFlightConfirmation").html("");
            $("#editFlight").show();

            if ($("input[name=idFlight]").is(":checked")) {
                var id = $("input[name=idFlight]:checked").val();

                $.ajax({
                    url: '/Admin/getFlight',
                    type: 'POST',
                    contentType: "application/json:charset=utf-8",
                    data: JSON.stringify({ id: id }),
                    dataType: 'json',
                    success: function (jsFlight) {
                        if (jsFlight != null) {
                            $("#flightIdEd").val(jsFlight.id);
                            $("#fromAirportEd").val(jsFlight.fromAirportId);
                            $("#toAirportEd").val(jsFlight.toAirportId);
                            $("#departureEd").val(jsFlight.departure);
                            $("#arrivalEd").val(jsFlight.arrival);
                            $("#priceEd").val(jsFlight.price);
                        }
                        else {
                            $("#editFlightConfirmation").html("<p style=\"color:indianred\">Fant ikke flyvning i database</p>");
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

            }
            else {
                $("#editFlightConfirmation").html("<p style=\"color:indianred\">Velg hvilken flyvning som skal endres</p>");
            }
        });

        $("#showDeleteFlight").click(function () {
            $("#editFlight").hide();
            $("#deleteFlightConfirmation").html("");
            $("#deleteFlight").show();

            if ($("input[name=idFlight]").is(":checked")) {
                var id = $("input[name=idFlight]:checked").val();

                $.ajax({
                    url: '/Admin/getFlight',
                    type: 'POST',
                    contentType: "application/json:charset=utf-8",
                    data: JSON.stringify({ id: id }),
                    dataType: 'json',
                    success: function (jsFlight) {
                        if (jsFlight != null) {
                            $("#flightIdDel").val(jsFlight.id);
                            $("#fromAirportDel").val(jsFlight.fromAirportName);
                            $("#toAirportDel").val(jsFlight.toAirportName);
                            $("#departureDel").val(jsFlight.departure);
                            $("#arrivalDel").val(jsFlight.arrival);
                            $("#priceDel").val(jsFlight.price);
                        }
                        else {
                            $("#deleteFlightConfirmation").html("<p style=\"color:indianred\">Fant ikke flyvning i database</p>");
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

            }
            else {
                $("#deleteFlightConfirmation").html("<p style=\"color:indianred\">Velg hvilken flyvning som skal slettes</p>");
            }
        });

        $("#confirmEditFlight").click(function () {
            var id = $("#flightIdEd").val();
            var fromAirport = $("#fromAirportEd").val();
            var toAirport = $("#toAirportEd").val();
            var departure = $("#departureEd").val().toString("dd.MM.yyyy HH:mm");
            var arrival = $("#arrivalEd").val().toString("dd.MM.yyyy HH:mm");
            var price = $("#priceEd").val();
            $("#editFlightConfirmation").html("<p>"+id+fromAirport+toAirport+departure+arrival+price+"</p>");
            $.ajax({
                url: '/Admin/editFlight',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id: id, fromAirportId: fromAirport, toAirportId: toAirport, departure: departure, arrival: arrival, price: price }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#editFlightConfirmation").html("<p style=\"color:forestgreen\">Endring gjennomført</p>");
                        GetAllFlights();
                    }
                    else {
                        $("#editFlightConfirmation").html("<p style=\"color:indianred\">Feil ved endring</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

        $("#confirmDeleteFlight").click(function () {
            var id = $("#flightIdDel").val();

            $.ajax({
                url: '/Admin/deleteFlight',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id: id }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#deleteFlightConfirmation").html("<p style=\"color:forestgreen\">Sletting gjennomført</p>");
                        GetAllFlights();
                    }
                    else {
                        $("#deleteFlightConfirmation").html("<p style=\"color:indianred\">Feil ved sletting</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });


        $("#registerUser").click(function () {
            var fornavn = $("#fornavnReg").val();
            var etternavn = $("#etternavnReg").val();
            var adresse = $("#adresseReg").val();
            var postnummer = $("#postnummerReg").val();
            var poststed = $("#poststedReg").val();
            var epost = $("#epostReg").val();
            var passord = $("#passordReg").val();

            $.ajax({
                url: '/Admin/registerUser',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ fornavn: fornavn, etternavn: etternavn, adresse: adresse, postnummer: postnummer, poststed: poststed, epost: epost, passord: passord }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#registerUserConfirmation").html("<p style=\"color:forestgreen\">Registrering gjennomført</p>");
                        GetAllUsers();
                    }
                    else {
                        $("#registerUserConfirmation").html("<p style=\"color:indianred\">Feil ved registrering</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

        $("#showEditUser").click(function () {
            $("#deleteUser").hide();
            $("#editUserConfirmation").html("");
            $("#editUser").show();

            if ($("input[name=idUser]").is(":checked")) {
                var id = $("input[name=idUser]:checked").val();

                $.ajax({
                    url: '/Admin/getUser',
                    type: 'POST',
                    contentType: "application/json:charset=utf-8",
                    data: JSON.stringify({ id: id }),
                    dataType: 'json',
                    success: function (jsUser) {
                        if (jsUser != null) {
                            $("#userIdEd").val(jsUser.Id);
                            $("#fornavnEd").val(jsUser.Fornavn);
                            $("#etternavnEd").val(jsUser.Etternavn);
                            $("#adresseEd").val(jsUser.Adresse);
                            $("#postnummerEd").val(jsUser.Postnummer);
                            $("#poststedEd").val(jsUser.Poststed);
                            $("#epostEd").val(jsUser.Epost);
                        }
                        else {
                            $("#registerUserConfirmation").html("<p style=\"color:indianred\">Fant ikke kunde i database</p>");
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

            }
            else {
                $("#editUserConfirmation").html("<p style=\"color:indianred\">Velg hvilken bruker som skal endres</p>");
            }
        });

        $("#showDeleteUser").click(function () {
            $("#editUser").hide();
            $("#deleteUserConfirmation").html("");
            $("#deleteUser").show();

            if ($("input[name=idUser]").is(":checked")) {
                var id = $("input[name=idUser]:checked").val();

                $.ajax({
                    url: '/Admin/getUser',
                    type: 'POST',
                    contentType: "application/json:charset=utf-8",
                    data: JSON.stringify({ id: id }),
                    dataType: 'json',
                    success: function (jsUser) {
                        if (jsUser != null) {
                            $("#userIdDel").val(jsUser.Id);
                            $("#fornavnDel").val(jsUser.Fornavn);
                            $("#etternavnDel").val(jsUser.Etternavn);
                            $("#adresseDel").val(jsUser.Adresse);
                            $("#postnummerDel").val(jsUser.Postnummer);
                            $("#poststedDel").val(jsUser.Poststed);
                            $("#epostDel").val(jsUser.Epost);
                        }
                        else {
                            $("#registerUserConfirmation").html("<p style=\"color:indianred\">Fant ikke bruker i database</p>");
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }
            else {
                $("#deleteUserConfirmation").html("<p style=\"color:indianred\">Velg hvilken bruker som skal slettes</p>");
            }
        });

        $("#confirmEditUser").click(function () {
            var id = $("#userIdEd").val();
            var fornavn = $("#fornavnEd").val();
            var etternavn = $("#etternavnEd").val();
            var adresse = $("#adresseEd").val();
            var postnummer = $("#postnummerEd").val();
            var poststed = $("#poststedEd").val();
            var epost = $("#epostEd").val();
            var passord = $("#passordEd").val();

            $.ajax({
                url: '/Admin/editUser',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id:id, fornavn: fornavn, etternavn: etternavn, adresse: adresse, postnummer: postnummer, poststed: poststed, epost: epost, passord: passord }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#editUserConfirmation").html("<p style=\"color:forestgreen\">Endring gjennomført</p>");
                        GetAllUsers();
                    }
                    else {
                        $("#editUserConfirmation").html("<p style=\"color:indianred\">Feil ved endring</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

        $("#confirmDeleteUser").click(function () {
            var id = $("#userIdDel").val();

            $.ajax({
                url: '/Admin/deleteUser',
                type: 'POST',
                contentType: "application/json:charset=utf-8",
                data: JSON.stringify({ id: id }),
                dataType: 'json',
                success: function (success) {
                    if (success == "ok") {
                        $("#deleteUserConfirmation").html("<p style=\"color:forestgreen\">Sletting gjennomført</p>");
                        GetAllUsers();
                    }
                    else {
                        $("#deleteUserConfirmation").html("<p style=\"color:indianred\">Feil ved sletting</p>");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });
    });



    function GetAllAirports() {
        $.ajax({
            url: '/Admin/getAllAirports',
            type: 'GET',
            dataType: 'json',
            success: function (jsAirports) {
                DisplayAllAirports(jsAirports);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function DisplayAllAirports(jsAirports) {

        var result =
            "<table class=\"table table-striped\">" +
            "<thead>" +
            "<tr>" +
            "<th></th>" +
            "<th>Navn</th>" +
            "</tr>" +
            "</thead>";
        for (var a in jsAirports) {
            result +=
                "<tr>" +
                "<td><input type=\"radio\" name =\"idAirport\" value=\"" + jsAirports[a].id + "\"></td>" +
                "<td>" + jsAirports[a].name + "</td>" +
                "</tr>";
        }
        result += "</table>";
        $("#airportList").html(result);
    }

    

    function PopulateAirportDropDowns() {
        $.ajax({
            url: '/Admin/getAllAirports',
            type: 'GET',
            dataType: 'json',
            success: function (jsAirports) {
                var result = "<option selected hidden value=\"\">Velg flyplass</option>";
                for (var a in jsAirports) {
                    result += "<option value=\"" + jsAirports[a].id + "\">" + jsAirports[a].name + "</option>";
                }
                $("#fromAirportReg").html(result);
                $("#toAirportReg").html(result);
                $("#toAirportEd").html(result);
                $("#fromAirportEd").html(result);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function GetAllFlights() {
        $.ajax({
            url: '/Admin/getAllFlights',
            type: 'GET',
            dataType: 'json',
            success: function (jsFlights) {
                DisplayAllFlights(jsFlights);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function DisplayAllFlights(jsFlights) {

        var result =
            "<table class=\"table table-striped\">" +
            "<thead>" +
            "<tr>" +
            "<th></th>" +
            "<th>Fra</th>" +
            "<th>Til</th>" +
            "<th>Avgang</th>" +
            "<th>Ankomst</th>" +
            "<th>Pris</th>" +
            "</tr>" +
            "</thead>";
        for (var f in jsFlights) {
            result +=
                "<tr>" +
                "<td><input type=\"radio\" name =\"idFlight\" value=\"" + jsFlights[f].id + "\"></td>" +
                "<td>" + jsFlights[f].fromAirportName + "</td>" +
                "<td>" + jsFlights[f].toAirportName + "</td>" +
                "<td>" + jsFlights[f].departure + "</td>" +
                "<td>" + jsFlights[f].arrival + "</td>" +
                "<td>" + jsFlights[f].price + " kr</td>" +
                "</tr>";
        }
        result += "</table>";
        $("#flightList").html(result);
    }

  /*  function ValidateFlightReg(jsFlight) {
        var validationOK = true;
        if (jsFlight.fromAirport == null) {
            nullVal = false;
        }
        if (jsFlight.toAirport == null) {
            nullVal = false;
        }
        if (jsFlight.departure == null) {
            nullVal = false;
        }
        if (jsFlight.arrival == null) {
            nullVal = false;
        }
        if (jsFlight.price == null) {
            nullVal = false;
        }
        return validationOK;
    }
*/



    function GetAllUsers() {
        $.ajax({
            url: '/Admin/getAllUsers',
            type: 'GET',
            dataType: 'json',
            success: function (jsUsers) {
                DisplayAllUsers(jsUsers);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function DisplayAllUsers(jsUsers) {

        var result =
            "<table class=\"table table-striped\">" +
            "<thead>" +
            "<tr>" +
            "<th></th>" +
            "<th>Fornavn</th>" +
            "<th>Etternavn</th>" +
            "<th>Adresse</th>" +
            "<th>Postnummer</th>" +
            "<th>Poststed</th>" +
            "<th>Epost</th>" +
            "</tr>" +
            "</thead>";
        for (var u in jsUsers) {
            result +=
                "<tr>" +
                "<td><input type=\"radio\" name =\"idUser\" value=\"" + jsUsers[u].Id + "\"></td>" +
                "<td>" + jsUsers[u].Fornavn + "</td>" +
                "<td>" + jsUsers[u].Etternavn + "</td>" +
                "<td>" + jsUsers[u].Adresse + "</td>" +
                "<td>" + jsUsers[u].Postnummer + "</td>" +
                "<td>" + jsUsers[u].Poststed + "</td>" +
                "<td>" + jsUsers[u].Epost + "</td>" +
                "</tr>";
        }
        result += "</table>";
        $("#userList").html(result);
    }

</script>

<div class="container">
    <div class="page-header">
        <h1>Administrator</h1>
    </div>
    <div class="jumbotron">
        <div class="row">
                <button id="airportButton" class="btn btn-lg btn-info">Airports</button>
                <button id="flightButton" class="btn btn-lg btn-info">Flights</button>
                <button id="bookingButton" class="btn btn-lg btn-info">Bookings</button>
                <button id="userButton" class="btn btn-lg btn-info">Users</button>
        </div>
        <div class="row">
            <div id="airports" style="display:none">
                <div>
                    <h2>Registrer ny flyplass</h2><br/>
                    <div class="input-group">
                        <span class="input-group-addon">Flyplassnavn</span>
                        <input id="airportNameReg" type="text" class="form-control" />
                    </div>
                    <button id="registerAirport" class="btn btn-success">Registrer flyplass</button><br/>
                    <span id="registerAirportConfirmation"></span>
                </div>
                <h2>Registrerte flyplasser</h2>
                <div id="airportList">
                </div>
                <div>
                    <button id="showEditAirport" class="btn btn-primary">Endre</button>
                    <button id="showDeleteAirport" class="btn btn-primary">Slett</button>
                </div>
                <div id="editAirport">  
                    <h4>Endre følgende flyplass:</h4>
                    <div class="input-group">
                        <span class="input-group-addon">ID</span>
                        <input id="airportIdEd" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Navn</span>
                        <input id="airportNameEd" type="text" class="form-control" />
                    </div>
                    <button id="confirmEditAirport" class="btn btn-success">Bekreft endring</button><br/>
                    <span id="editAirportConfirmation"></span>
                </div>
                <div id="deleteAirport">
                    <h4>Slett følgende flyplass:</h4>
                    <div class="input-group">
                        <span class="input-group-addon">ID</span>
                        <input id="airportIdDel" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Navn</span>
                        <input id="airportNameDel" type="text" class="form-control" readonly />
                    </div>
                    <button id="confirmDeleteAirport" class="btn btn-danger">Bekreft sletting</button><br />
                    <span id="deleteAirportConfirmation"></span>
                </div>
            </div>

            <div id="flights" style="display:none">
                <div>
                    <h2>Registrer ny flyvning</h2><br />
                    <div class="input-group">
                        <span class="input-group-addon">Fra flyplass</span>
                        <select id="fromAirportReg"></select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Til flyplass</span>
                        <select id="toAirportReg"></select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Avreise</span>
                        <input id="departureReg" type="datetime" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Ankomst</span>
                        <input id="arrivalReg" type="datetime" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Pris</span>
                        <input id="priceReg" type="number" class="form-control" />
                    </div>
                    <button id="registerFlight" class="btn btn-success">Registrer flyvning</button><br />
                    <span id="registerFlightConfirmation"></span>
                </div>
                <h2>Registrerte flyvninger</h2>
                <div id="flightList">
                </div>
                <div>
                    <button id="showEditFlight" class="btn btn-primary">Endre</button>
                    <button id="showDeleteFlight" class="btn btn-primary">Slett</button>
                </div>
                <div id="editFlight">
                    <h4>Endre følgende flyvning:</h4>
                    <div class="input-group">
                        <span class="input-group-addon">ID</span>
                        <input id="flightIdEd" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Fra flyplass</span>
                        <select id="fromAirportEd"></select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Til flyplass</span>
                        <select id="toAirportEd"></select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Avreise</span>
                        <input id="departureEd" type="datetime" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Ankomst</span>
                        <input id="arrivalEd" type="datetime" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Pris</span>
                        <input id="priceEd" type="number" class="form-control" />
                    </div>
                    <button id="confirmEditFlight" class="btn btn-success">Bekreft endring</button><br />
                    <span id="editFlightConfirmation"></span>
                </div>
                <div id="deleteFlight">
                    <h4>Slett følgende flyvning:</h4>
                    <div class="input-group">
                        <span class="input-group-addon">ID</span>
                        <input id="flightIdDel" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Fra flyplass</span>
                        <input id="fromAirportDel" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Til flyplass</span>
                        <input id="toAirportDel" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Avreise</span>
                        <input id="departureDel" type="datetime" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Ankomst</span>
                        <input id="arrivalDel" type="datetime" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Pris</span>
                        <input id="priceDel" type="number" class="form-control" readonly />
                    </div>
                    <button id="confirmDeleteFlight" class="btn btn-danger">Bekreft sletting</button><br />
                    <span id="deleteFlightConfirmation"></span>
                </div>
            </div>

            <div id="bookings" style="display:none">
                <div id="bookingList">
                </div>
                <div>
                    <button class="btn btn-primary">Endre</button>
                    <button class="btn btn-danger">Slett</button>
                </div>
            </div>

            <div id="users" style="display:none">
                <div>
                    <h2>Registrer ny kunde</h2><br />
                    <div class="input-group">
                        <span class="input-group-addon">Fornavn</span>
                        <input id="fornavnReg" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Etternavn</span>
                        <input id="etternavnReg" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Adressee</span>
                        <input id="adresseReg" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Postnummer</span>
                        <input id="postnummerReg" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Poststed</span>
                        <input id="poststedReg" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Epost</span>
                        <input id="epostReg" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Passord</span>
                        <input id="passordReg" type="password" class="form-control" />
                    </div>
                    <button id="registerUser" class="btn btn-success">Registrer kunde</button><br />
                    <span id="registerUserConfirmation"></span>
                </div>
                <h2>Registrerte kunder</h2>
                <div id="userList">
                </div>
                <div>
                    <button id="showEditUser" class="btn btn-primary">Endre</button>
                    <button id="showDeleteUser" class="btn btn-primary">Slett</button>
                </div>
                <div id="editUser">
                    <h4>Endre følgende kunde:</h4>
                    <div class="input-group">
                        <span class="input-group-addon">ID</span>
                        <input id="userIdEd" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Fornavn</span>
                        <input id="fornavnEd" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Etternavn</span>
                        <input id="etternavnEd" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Adressee</span>
                        <input id="adresseEd" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Postnummer</span>
                        <input id="postnummerEd" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Poststed</span>
                        <input id="poststedEd" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Epost</span>
                        <input id="epostEd" type="text" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Passord</span>
                        <input id="passordEd" type="password" class="form-control" />
                    </div>
                    <button id="confirmEditUser" class="btn btn-success">Bekreft endring</button><br />
                    <span id="editUserConfirmation"></span>
                </div>
                <div id="deleteUser">
                    <h4>Slett følgende kunde:</h4>
                    <div class="input-group">
                        <span class="input-group-addon">ID</span>
                        <input id="userIdDel" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Fornavn</span>
                        <input id="fornavnDel" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Etternavn</span>
                        <input id="etternavnDel" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Adressee</span>
                        <input id="adresseDel" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Postnummer</span>
                        <input id="postnummerDel" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Poststed</span>
                        <input id="poststedDel" type="text" class="form-control" readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Epost</span>
                        <input id="epostDel" type="text" class="form-control" readonly />
                    </div>
                    <button id="confirmDeleteUser" class="btn btn-danger">Bekreft sletting</button><br />
                    <span id="deleteUserConfirmation"></span>
                </div>
            </div>
        </div>
    </div>
</div>