
@{
    ViewBag.Title = "Admin-innlogging";
}

@model WebAppsOppgave1.Model.AdminUser

<div class="container">
    <div class="page-header">
        <h1>Logg inn som administrator</h1>
    </div>
    <div class="jumbotron">
        <form action="/Admin/Index" method="post">
            <fieldset>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon">Brukernavn (e-post)</span>
                    <input name="username" type="text" class="form-control" />
                </div>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon">Passord</span>
                    <input name="password" type="text" class="form-control" />
                </div>
                <input type="submit" name="login" value="Logg inn" class="btn btn-primary"/>
            </fieldset>
        </form>
    </div>
</div>

